html {
  font-size: calc(1em + 1vw);
}
html body {
  font-family: Arial, Helvetica, sans-serif;
}
html body header {
  position: sticky;
  top: 0px;
}
html body header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 0 1rem;
  gap: 1.8rem;
  background-color: #FFFFFF;
  border-bottom: 1px solid #F07A22;
}
html body header nav a i {
  size: 1rem;
  color: #F07A22;
}
html body main section {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #005F27;
}
html body main section h1 {
  font-size: 1.7rem;
  text-align: center;
  color: #F07A22;
  font-weight: 600;
  margin: 0 10px;
}
html body main section h2 {
  font-size: 1.7rem;
  text-align: center;
  color: #F07A22;
  font-weight: 600;
  margin: 0 10px;
}
html body main section p {
  font-size: 1rem;
  text-align: center;
  color: #FF9340;
  margin: 0 15px;
}
html body main section ol {
  padding: 0 20px;
}
html body main section ol li {
  font-size: 1rem;
  text-align: center;
  color: #FF9340;
  margin: 0 15px;
  list-style: none;
}
html body main img {
  width: 100%;
  max-width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
html body section h3 {
  font-size: 1.7rem;
  text-align: center;
  color: #F07A22;
  font-weight: 600;
  margin: 0 10px;
}
html body aside {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 4fr 1fr;
  padding: 20px 0;
}
html body aside #return {
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  border: 1px solid #005F27;
  font-size: 1rem;
  text-align: center;
  color: #FF9340;
  margin: 0 15px;
  margin: 0;
}
html body aside #return i {
  font-size: 2rem;
}
html body aside #delivery {
  display: flex;
  flex-direction: column;
  grid-column: 3/4;
  border: 1px solid #005F27;
  font-size: 1rem;
  text-align: center;
  color: #FF9340;
  margin: 0 15px;
  margin: 0;
}
html body aside #delivery i {
  font-size: 2rem;
}
html body aside #payment {
  display: flex;
  flex-direction: column;
  grid-column: 4/5;
  border: 1px solid #005F27;
  font-size: 1rem;
  text-align: center;
  color: #FF9340;
  margin: 0 15px;
  margin: 0;
}
html body aside #payment i {
  font-size: 2rem;
}
html body footer {
  background-color: #005F27;
}
html body footer h3 {
  margin: 0;
  padding: 10px 10px;
  font-size: 1.7rem;
  color: #F07A22;
  font-weight: 600;
}
html body footer ol {
  list-style: none;
  padding: 0px 10px;
}
html body footer ol li {
  margin: 30px 0;
}
html body footer ol li a {
  color: #F07A22;
}
html body footer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
html body footer ul li {
  margin: 0 20px;
}
html body footer ul li a {
  color: #F07A22;
  font-size: 1.8rem;
}

#grid_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
}

#topp_bar_info {
  display: flex;
  justify-content: space-between;
  background-color: #F07A22;
  color: #FFFFFF;
  padding: 0 1.5rem;
}
#topp_bar_info p {
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
#topp_bar_info i {
  font-size: 0.8rem;
  align-self: center;
}

#logo {
  height: 120px;
}
#logo img {
  height: 100%;
}

.push_right {
  margin-left: auto;
}

.default_btn {
  display: inline-block;
  padding: 1rem;
  background-color: #F07A22;
  color: #FFFFFF;
  border-radius: 15px;
  font-weight: 400;
  width: 45%;
  align-self: center;
  text-align: center;
  max-width: 300px;
}

#choice_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-bottom: 1px solid #005F27;
  flex-direction: row;
}
#choice_btn h2 {
  font-size: 1rem;
  font-weight: 600;
  color: #FF9340;
}
#choice_btn h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #FF9340;
}

#inspirations {
  display: none;
}

#customer_review {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #005F27;
}
#customer_review h3 {
  font-size: 1.7rem;
  text-align: center;
  color: #F07A22;
  font-weight: 600;
  margin: 0 10px;
  border-bottom: 1px solid #005F27;
}
#customer_review p {
  font-size: 1rem;
  text-align: center;
  color: #FF9340;
  margin: 0 15px;
}
#customer_review div {
  margin: 20px 0;
}
#customer_review div i {
  color: #F07A22;
  text-align: center;
  font-size: 1.3rem;
}/*# sourceMappingURL=style.css.map */