@import "partials/colors";
@import "partials/mixin";
$default_border: 1px solid $contrast_green;

html{
    body{
        font-family: Arial, Helvetica, sans-serif;
        header{
            position: sticky;
            top: 0px;  
            nav{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 2rem;
                padding: 0 1rem;
                gap: 1.8rem;
                background-color: $default_white;
                border-bottom: 1px solid $main_orange;
                a{
                    i{
                            size: 1rem;
                            color: $main_orange;
                    }
                }
            }
        }
        main{
            section{
                display: flex;
                flex-direction: column;
                border-bottom: $default_border;
                h1{
                    @include default_heading;
                }
                h2{
                    @include default_heading;
                }
                p{
                    @include default_text;
                }
                ol{
                    padding: 0 20px;
                    li{
                        @include default_text;
                        list-style: none;
                    }
                }
            }
            img{
                @include default_image;
            }
        }
        section{
            h3{
                @include default_heading
            }
        }
        #aside_info{
            display: grid;
            grid-template-columns: 1fr 4fr 4fr 4fr 1fr;
            padding: 20px 0;
            #return{
                display: flex;
                flex-direction: column;
                grid-column: 2/3;
                border: $default_border;
                @include default_text;
                margin: 0;
                justify-content: center;
                i{
                  font-size: 2rem;
                }
            }
            #delivery{
                display: flex;
                flex-direction: column;
                grid-column: 3/4;
                border: $default_border;
                @include default_text;
                margin: 0;
                justify-content: center;
                i{
                    font-size: 2rem;
                }
            }
            #payment{
                display: flex;
                flex-direction: column;
                grid-column: 4/5;
                border: $default_border;
                @include default_text;
                margin: 0;
                justify-content: center;
                i{
                    font-size: 2rem;
                }
            }
        }
        aside{
            h3{
                @include default_heading;
            }
        }
        footer{
            background-color: $contrast_green;
            h3{
                margin: 0;
                padding: 10px 10px;
                font-size: 1.7rem;
                color: $main_orange;
                font-weight: 600;
            }
            ol{
                list-style: none;
                padding: 0px 10px;
                li{
                    margin: 30px 0;
                    a{
                        color: $main_orange;
                    }
                }
            }
            ul{
                display: flex;
                flex-direction: row;
                list-style: none;
                li{
                    margin: 0 20px;
                    a{
                        color: $main_orange;
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}

#grid_container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
}

#topp_bar_info{
    display: flex;
    justify-content: space-between;
    background-color: $main_orange;
    color: $default_white;
    padding: 0 1.5rem;
    p{
        font-size: 0.5rem;
        padding: 0 0.2rem;
    }
    i{
        font-size: 0.8rem;
        align-self: center;
    }
}

#logo{
    height: 120px;
    img{
        height: 100%; 
    }
}

.push_right{
    margin-left: auto;
}

.default_btn{
    @include default_button;
}

#choice_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-bottom: $default_border;
    flex-direction: row;
    h2{
        font-size: 1rem;
        font-weight: 600;
        color: $light_orange;
    }
    h3{
        font-size: 1rem;
        font-weight: 600; 
        color: $light_orange;
    }
}

#inspirations{
    display: none;
}

.customer_review{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: $default_border; 
    h3{
        @include default_heading;
        border-bottom: 1px solid $contrast_green;
    }
    p{
        @include default_text;
    }
    div{
        margin: 20px 0;
        i{
            color: $main_orange;
            text-align: center;
            font-size: 1.3rem;
        }  
    } 
}

.breadcrumb_trail{
    ol{
        margin: 0;
        list-style: none;
        display: flex;
        gap: 5px;
        padding: 0 10px;
        li{
            a{
                font-size: 0.7rem;
                font-weight: 600;
            }
        }
    }
}

#produktinfo_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    a{
        grid-column: 1/2;
        grid-row: 1/2;
        width: fit-content;
        margin: 0 auto;
    }
    ul{
        grid-column: 1/2;
        grid-row: 2/3;
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        li{
            @include default_button;
            margin: auto 10px;
            width: 7.7rem;
            background-color: $contrast_green;
        }
    }
    section{
        grid-column: 2/3;
        grid-row: 1/3;
        border-bottom: none;
        h2{
            border: $default_border;
            margin: 1.5rem 10px 0 10px;
        }
        ol{
            display: grid;
            grid-template-areas: "s36 s37 s38" "s39 s40 s41" "s42 s43 s44";
            width: fit-content;
            align-self: center;
            margin: 0.7rem 0;
            li{
                border: $default_border;
                border-radius: 100px;
                width: fit-content;
                padding: 0.5rem;
                margin: 0.5rem;
            }
            
        }
        aside{
            display: flex;
            align-self: center;
            i{
                font-size: 0.7rem;
                align-self: center;
                color: $main_orange;    
            }
            p{
                position: relative;
                span{
                    position: absolute;
                    font-size: 0.7rem;
                    top: 0px;
                    margin: 0 5px;
                }
            }  
        }
    }
}

#product_info_bar{
    display: grid;
    grid-template-areas: "header header" "price ." "size btn";
    position: sticky;
    bottom: 0px;
    background-color: $contrast_green;
    border-top: 1px solid $main_orange;
    border-bottom: 1px solid $main_orange;
    h2{
        grid-area: header;
        @include default_heading;
    }
    p{
        grid-area: price;
        @include default_text;
        text-align: left;
        margin: 10px;
    }
    a{
        grid-area: size;
        margin-left: 10px;
    }
    .default_btn{
        grid-area: btn;
        margin-bottom: 10px;
    }
}

#produktspesifikasjon_info{
    display: none;
    ol{
        li{
            text-align: left;
            list-style: disc;
        }
    }
    p{
        text-align: left;
    }
    ul{
        li{
            text-align: left;
            font-size: 1rem;
            color: $main_orange; 
        }  
    }
    h5{
        font-weight: 600;
        color: $main_orange;
        margin: 20px 15px 0 15px;
        font-size: 1rem;
    }
    span{
        font-weight: 600;
        padding: 0 5px 0 0;
    }
}

#retur_main{
    section{
        border: none;
        margin: 10px;
        h1{
            margin-bottom: 20px;
            border: $default_border;
        }
        h2{
            margin-bottom: 20px;
            border: $default_border;
        }
    }
}

.hidden_mobile{
    display: none;
}

@media only screen and (min-width: 1280px){
    #grid_container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, auto);
    }

    .hidden_mobile{
        display: block;
    }
    .hidden_desktop{
        display: none;
    }

    header{
        grid-column: 1/4;
        grid-row: 1/2;
    }

    #main_nav{
        display: grid;
        grid-template-areas: ". . form search cart user"
                            "logo list list list list list";
        grid-template-columns: 3fr 3fr 8fr 1fr 1fr 1fr;
        grid-row-gap: 0;
        #logo{
            grid-area: logo;
        }
        form{
            grid-area: form;
            margin-top: 20px;
            input{
                border-radius: 40px;
                width: 100%;
                padding: 10px 15px;
                border: 1px solid $contrast_green;
            }
        }
        #search_icon{
            grid-area: search;
            margin-left: 0;
            margin-top: 20px;
            i{
                font-size: 3.2rem;
            }
        }
        #cart_icon{
            grid-area: cart;
            margin-top: 20px;
            i{
                font-size: 3.2rem;
            }
        }
        #user_icon{
            grid-area: user;
            margin-top: 20px;
            i{
                border: 2px solid $main_orange;
                border-radius: 100px;
                padding: 10px;
            }
        }
        ul{
            grid-area: list;
            align-self: end;
            margin: 0;
            padding: 0;
            li{
                display: inline-block;
                margin: 0 30px;
                a{
                    color: $main_orange;
                }
            }
        }
    }
    #topp_bar_info{
        p, i{
            font-size: 1rem;
        }
    }

    html{
        body{
            main{
                grid-column: 1/4;
                grid-row: 2/3;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(3, auto);
                section{
                    border: $default_border;
                    margin: 10px;
                    a{
                        margin-bottom: 10px;
                        picture{
                            img{
                                max-height: 544px;
                                max-width: 960px;
                            }
                        }
                    }
                    h1{
                        margin: 10px;
                    }
                    p{
                        margin: 15px;
                    }
                    .default_btn{
                        margin: 10px;
                        padding: 15px 25px;
                        font-size: 2rem;
                    }
                }
                #promotion{
                    grid-column: 1/3;
                    grid-row: 1/2;
                }
                #choice_btn{
                    grid-column: 1/3;
                    grid-row: 2/3;
                    border: none;
                    justify-content: space-around;
                    a{
                        display: flex;
                        h2, h3{
                            font-size: 1.7rem;
                        }
                    }
                }
                #how_to{
                    grid-column: 1/2;
                    grid-row: 3/4;
                }
                #inspirations{
                    display: block;
                    grid-column: 2/3;
                    grid-row: 3/4;
                }
            }
            #aside_info{
                grid-column: 1/4;
                grid-row: 5/6;
                grid-template-columns: 2fr 4fr 4fr 4fr 2fr;
                #delivery, #return, #payment{
                    font-size: 1.6rem;
                    padding: 2em 1.5em;
                    i{
                        font-size: 4rem;
                    }
                }
            }
            footer{
                grid-column: 1/4;
                grid-row: 6/7;
                display: grid;
                grid-template-areas: "footer_logo shoe_creator help about" ". questions . contact" ". . . social_media";
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3, auto);
                section{
                    h4{
                        text-align: center;
                        color: $main_orange;
                        font-weight: 800;
                    }
                    ul{
                        flex-direction: column;
                        gap: 20px;
                        padding: 0;
                        text-align: center;
                        margin: 16px 0 0 0;
                        li{
                            @include default_text;
                        }
                    }
                    a{
                        display: block;
                        text-align: center;
                        @include default_text;
                    }
                }
                #footer_how_to{
                    grid-area: shoe_creator;
                }
                #footer_questions{
                    grid-area: questions;
                }
                #footer_help{
                    grid-area: help;
                }
                #footer_about{
                    grid-area: about;
                }
                #footer_contact{
                    grid-area: contact;
                }
                #footer_logo{
                    grid-area: footer_logo;
                    img{
                        width: 11em;
                        height: 100%;
                    }
                }
                ul{
                    grid-area: social_media;
                    margin-top: 40px;
                }
            }
        }
    }
    #main_review{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    #left_review{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #right_review{
        grid-column: 3/4;
        grid-row: 3/4;
    } 
    #popular_shoes{
        grid-column: 1/4;
        grid-row: 4/5;
    }
    
    
    .customer_review{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: $default_border; 
        margin: 20px 0;
        h3{
            margin-bottom: 40px;
        }
        p{
            @include default_text;
        }
        div{
            margin: 0;
            margin-top: auto;
            i{
                color: $main_orange;
                text-align: center;
                font-size: 1.3rem;
            }  
        } 
    }
    #left_review, #right_review{
        p{
            margin-top: 72px;
            span{
                font-weight: 600;
            }
        }
        img{
            margin-top: 15px;
        }
    }
    #main_review{
        div{
            margin-top: 38px;
        }
        p{
            span{
                font-weight: 600;
            }
        }
        img{
            margin-top: 15px;
        }
    }
    .breadcrumb_trail{
        grid-column: 1/4;
        grid-row: 2/3;
    }
    #product_main{
        grid-column: 1/4;
        grid-row: 3/4;
        display: flex;
        flex-direction: column;
        #img_carousel{
            display: grid;
            grid-template-areas: "main_img main_img main_img" "preview_left preview_center preview_right";
            #product_img_main{
                grid-area: main_img;
            }
            #product_img_left{
                grid-area: preview_left;
                width: 80px;
            }
            #product_img_center{
                grid-area: preview_center;
                width: 80px;
            }
            #product_img_right{
                grid-area: preview_right;
                width: 80px;
            }
        }
        #product_grid{
            display: grid;
            grid-template-areas: "product_name product_name" "product_img product_info";
            h1{
                grid-area: product_name;
            }
            #img_carousel{
                grid-area: product_img;
            }
            #produktinfo_grid{
                grid-area: product_info;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, auto);
                a{
                    grid-row: 3/4;
                }
                ul{
                    grid-row: 1/2
                }
                #size_grid{
                    grid-row: 2/3;
                }
            }
        }
        
    }
    #saved_designs{
        grid-column: 1/4;
        grid-row: 4/5;
    }
    #product_info_bar{
        grid-column: 1/4;
        grid-row: 5/6;
    }
}